.logo{
  text-align: center;
}


#slides_control > div{
  height: 500px;
}
#slides.img{
  margin:auto;
  width: 200px;
}
#slides_control {
  position:absolute;
  width: 500px;
  left:50%;
  top:200px;
 margin-left:-300px;
}

